{% extends "base.html" %}
{% block content %}

<header>

    <div class="image-banner"
         style="background-image: url('https://cdn-images-1.medium.com/max/1600/1*hrFhKc1lS4vj63nGdxgezg.png')">
    </div>

</header>

<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">
        <h2 class="text-center">Our Services</h2>
        <p class="text-muted mb-5 text-center">AppAuction is a platform that helps small business or individuals that
            need software projects for their products
            find developers willing to build the apps for them according to their time and budget.

        </p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-magic-wand"></use>
                </svg>
                <h6>Advantages for clients</h6>
                <p class="text-muted">Post the description of the application that you need and choose among the bids of
                    the developers.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-heart"></use>
                </svg>
                <h6>Advantages for developers</h6>
                <p class="text-muted">Do you have some extra time and experience? This is the place for you. Choose
                    among the proposed projects
                    based on your skill and time. When you find the right project, bid an offer for the client by
                    telling them the price and the time that you need to build it.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-rocket"></use>
                </svg>
                <h6>Transparency</h6>
                <p class="text-muted">Developers can see offers proposed by other developers so they will know how to
                    adjust their own offer.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-paperclip"></use>
                </svg>
                <h6>Safety</h6>
                <p class="text-muted">Payments and code delivery will be made via the platform.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-screen"></use>
                </svg>
                <h6>It's a win-win</h6>
                <p class="text-muted">The business is only over when the client is happy with the result and the
                    developers receives the payment.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-inbox"></use>
                </svg>
                <h6>Working on everybody's terms</h6>
                <p class="text-muted">Since the beginning of the collaboration, both parties must agree with each
                    other's rules and requirements in order to avoid
                    potential misunderstanding.
                </p>
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-primary text-center py-3">
    <div class="container">
        <h6 class="font-weight-light text-white">© copyright 2019</h6>
    </div>
</footer>
{% endblock %}